@font-face {
    font-family: pixel;
    src: url('../libs/PressStart2P.ttf');
}

*{
	font-family: pixel;
}

body{
	margin: -100 auto;
	text-align: center;
	background: linear-gradient(#40AB3B, #FFFFFF);
	height: 100%;
}

#userDamage{
	position: absolute;
	left: 50px;
	bottom: 180px;
	height: 100px;
	width: 100px;
}

#menu-container{
	width: 400px;
	height: 100px;
	border: 4px solid white;
	border-radius: 5px;
	background: linear-gradient(#FFFFB0, blue);
	text-align: center;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

#userDamage h1{
	font-size: 2em;
}

#user-menu{
	list-style: none;
	text-align: center;
	float: left;
}

#user-menu li{
	display: inline;
	/*margin-right: 40px;*/
	color: white;
	float: left;
	margin-right: 50px;
}

#user-menu li:nth-child(3){
	margin-left: -15px;
}

#monsterDamage{
	position: absolute;
	right:137px;
	bottom: 235px;
	height: 60px;
	width: 60px;
}

#container{
	background-image: url("../images/field.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 600px;
	width: 800px;
	margin: 0 auto;
	position: relative;
	border-radius: 5px;
	border: 8px inset grey;
}


#battle-dialogue{
	border-radius: 5px;
	width:100%;
}

#user{
	position: absolute;
	left: -140px;
	bottom: 10px;
	margin-bottom: 30px;
	text-align:center;
}

#player{
	height: 200px;
	width: 250px;
}

#monster {
	position: absolute;
	right: -130px;
	bottom: -10px;
	text-align:center;
}

#skeleton{
	height: 300px;
	width: 300px;
}

.choice{
	width: 120px;
	height: 60px;
	border-radius: 5px;
}