@font-face {
    font-family: pixel;
    src: url('../libs/PressStart2P.ttf');
}

*{
	font-family: pixel;
}

body{
	margin:  auto;
	text-align: center;
	background: black;
	background-repeat: no-repeat;
	height: 100%;
}

#battle-container, #intro-container, #opening-screen, #inn-container, #outro-container, #found-princess-container{
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 600px;
	width: 800px;
	margin: 0 auto;
	position: absolute;
	border-radius: 5px;
	border: 8px inset grey;
	overflow: hidden;
	top: 9px;
	left: 228px;
}

#battle-container{
	background-image: url("../images/field.jpg");
	z-index: 2;
}

#intro-container{
	background-image: url("../images/castle.png");
	z-index: 3;
}

#opening-screen{
	background-image: url("../images/intro.png");
	z-index: 4;
}

#inn-container{
	background-image: url("../images/inn.jpg");
	z-index: 1;
}

#found-princess-container{
	background-image: url("../images/inn.jpg");
	text-align: center;
	z-index: 0;
}

#outro-container{
	background-color: black;
	z-index: -1;
}


#stat-container{
	width: 300px;
	height: 160px;
	background: linear-gradient(#FFFFB0, blue);
	border-radius: 5px;
	border: 4px solid white;
	text-align: left;
	position: absolute;
	left: 252px;
	top: 12px;
	color: white;
}

#stat-list{
	list-style: none;
}

#stat-list li{
	margin: 20px 0;
}

#userDamage, #userHeal{
	position: absolute;
	left: 50px;
	bottom: 180px;
	height: 100px;
	width: 100px;
}

#monsterDamage, #monsterHeal{
	position: absolute;
	right:137px;
	bottom: 235px;
	height: 60px;
	width: 60px;
}

#menu-container{
	width: 400px;
	height: 100px;
	border: 4px solid white;
	border-radius: 5px;
	background: linear-gradient(#FFFFB0, blue);
	text-align: center;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

#userDamage h1{
	font-size: 2em;
}

#user-menu{
	list-style: none;
	text-align: center;
	float: left;
}

#user-menu li{
	display: inline;
	/*margin-right: 40px;*/
	color: white;
	float: left;
	margin-right: 50px;
	cursor: pointer;
}

#user-menu li:nth-child(3){
	margin-left: -15px;
}

#battle-dialogue, #intro-dialogue, #open-dialogue, #found-princess-dialogue{
	width:100%;
}

#battle-dialogue p, #intro-dialogue p, #open-dialogue p, #inn-dialogue p, #found-princess-dialogue p{
	font-size: 0.7em;
}

#open-dialogue p{
	margin-top: 400px;
}

#user{
	position: absolute;
	left: -140px;
	bottom: 10px;
	margin-bottom: 30px;
	text-align:center;
}

#user:hover, #monster:hover	{
	transform: scale(-1, 1);
}

#player, #dubus2{ 
	height: 200px;
	width: 250px;
}

#princess{
	height: 200px;
	width: 150px;
}

#together{
	width: 550px;
	text-align: center;
	bottom: 52px;
	left: 150px;
	position: absolute;
}

#intro-dialogue{
	position: absolute;
}

#intro-player{
	height: 200px;
	width: 250px;
	position: absolute;
	top: 128px;
	left: 122px;
}

#monster {
	position: absolute;
	right: -130px;
	bottom: -10px;
	text-align:center;
}

#monster-img{
	height: 300px;
	width: 300px;
}

.choice{
	width: 120px;
	height: 60px;
	border-radius: 5px;
}

#outro-dialogue{
	font-size: 20px;
}

#dialogue-container{
	width: 600px;
	text-align: center;
	margin: 0 auto;
}

#dubus-container{
	position: absolute;
	bottom: -20px;
	left: 100px;
}

#outro-dubus{
	width: 600px;
	height: 500px;
}

#tear-container{
	position: absolute;
	width: 60px;
	height: 60px;
	bottom: 190px;
	left: 420px;
}

#tear-container img{
	height: 50px;
	width: 50px;
}

#found-princes-dialogue h1{
	font-size: .4em;
}